<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="flex-container" flex-gt-md="70" flex="100">
    <div *ngIf="units.length > 0">
      <mat-list>

        <mat-list-item>
          <span class="mat-body-1 tc-grey-500" fxFlex="100">Unit Number</span>
          <span class="mat-body-1 tc-grey-500">Action</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item *ngFor="let record of units" class="gridRow">
          <span fxFlex="100">
            {{record.number}}
          </span>
          <span style="text-align: right; width:50px;" class="hand">
            <button mat-icon-button [matMenuTriggerFor]="cardToolbarMenu">
              <mat-icon matListAvatar class="push-bottom">more_vert</mat-icon>
            </button>
            <mat-menu #cardToolbarMenu="matMenu">
              <button (click)="detailClick(record)" mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </span>
          <mat-divider></mat-divider>

        </mat-list-item>
      </mat-list>
    </div>

    <app-empty-state name="units" [icon]="icon" [count]="units.length"></app-empty-state>
    <a mat-fab routerLink="/units/0" color="primary" class="custom-fab-button">
      <mat-icon>add</mat-icon>
    </a>

  </mat-card>
</div>