<div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
  <div flex-gt-md="50" flex="100">
    <mat-card class="flex-container">
      <div *ngIf="approvalSetups.length > 0">
        <mat-list>

          <mat-list-item>
            <span class="pad-right">
              <mat-icon matListAvatar fxHide fxShow.gt-md>{{icon}}</mat-icon>
            </span>
            <span class="mat-body-1 tc-grey-500" fxFlex="50">User</span>
            <span class="mat-body-1 tc-grey-500" fxFlex="50">Approval Type</span>
            <div class="mat-body-1 tc-grey-500">
              Action
            </div>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item *ngFor="let record of viewModels">
            <span class="pad-right">
              <mat-icon color="primary" matListAvatar fxHide fxShow.gt-md>keyboard_arrow_right</mat-icon>
            </span>
            <span fxFlex="50" class="pad-right">
              {{record.name}}
            </span>
            <span fxFlex="50" class="pad-right">
              {{record.approvalType}}
            </span>

            <span style="text-align: right; width:50px;" class="hand">
              <button mat-icon-button [matMenuTriggerFor]="cardToolbarMenu">
                <mat-icon matListAvatar class="push-bottom">more_vert</mat-icon>

              </button>
              <mat-menu #cardToolbarMenu="matMenu">
                <button (click)="detailClick(record)" mat-menu-item>
                  <mat-icon>create</mat-icon>
                  <span>Edit</span>
                </button>
                <button (click)="deleteClick(record)" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </span>

            <mat-divider></mat-divider>

          </mat-list-item>

        </mat-list>
      </div>
      <app-empty-state name="approvalSetups" [icon]="icon" [count]="approvalSetups.length"></app-empty-state>
      <a mat-fab routerLink="/approval-setups/0" color="primary" class="custom-fab-button">
        <mat-icon>add</mat-icon>
      </a>
    </mat-card>
  </div>
</div>