<div class="flex-container" fxLayout="row" fxLayoutAlign="center center" style="padding-bottom:60px;">
  <div flex-gt-md="50" flex="100">
    <mat-card>
      <mat-card-content style="margin-bottom:0px;" fxLayout="column" flex>

        <mat-list>
          <mat-list-item class='listHeading'>
            <div flex fxFlexAlign="center">
              Category
            </div>

            <div hide-xs flex fxFlexAlign="center" style="text-align: right;">
              Budget
            </div>

            <div flex fxFlexAlign="end" style="padding-bottom:13px;  text-align: right">
              Expense
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item style="height: auto">
            <div flex  *ngIf="data.length === 0">
              <br/>
              <div flex layout="column" layout-align="center center" class="tc-grey-500 mat-typography pad-lg">
                <mat-icon flex  matListAvatar class="text-super push-bottom">device_hub</mat-icon>
                <h2>No data</h2>
                <h3>There are no data</h3>
              </div>
            </div>
          </mat-list-item>
          <mat-list-item *ngFor="let record of data" (click)="detailClick(record)" class="hand">
            <div flex fxFlexAlign="center">
              {{record.categoryName}}
            </div>

            <div hide-xs flex fxFlexAlign="center" style="text-align: right; color:lightgray">
              {{record.budget}}
            </div>

            <div flex fxFlexAlign="end" style="padding-bottom:13px;" [style.color]="record.textColor">
              {{record.expenseValue}}
            </div>
            <mat-divider></mat-divider>

          </mat-list-item>
        </mat-list>

      </mat-card-content>
    </mat-card>

   
  </div>
</div>