<mat-tab-group color="warn" backgroundColor="primary" mat-stretch-tabs>

  <mat-tab label="Info">
    <div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
      <div flex-gt-md="50" flex="100">
        <mat-card class="flex-container">
          <form [formGroup]="frmUnit" novalidate>

            <mat-list class="pad-top-md">

              <mat-list-item>
                <mat-form-field>
                  <input matInput placeholder="Unit number" formControlName="number" maxlength="3">
                </mat-form-field>
              </mat-list-item>

              <mat-list-item>
                <mat-form-field>
                  <mat-select placeholder="Owner" formControlName="ownerKey">
                    <mat-option *ngFor="let ownerOption of owners" [value]="ownerOption?.key">
                      {{ownerOption?.firstname}} {{ownerOption?.surname}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-list-item>

              <mat-list-item>
                <mat-form-field>
                  <mat-select placeholder="Resident" formControlName="residentKey">
                    <mat-option *ngFor="let residentOption of residents" [value]="residentOption?.key">
                      {{residentOption?.firstname}} {{residentOption?.surname}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-list-item>

            </mat-list>
          </form>
          <mat-card-actions class="text-right">
            <button color="seconday" (click)="cancelClick()" mat-raised-button>Cancel</button>
            <button color="primary" (click)="saveClick(frmUnit.value)" [disabled]='!frmUnit.valid' mat-raised-button>Save</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Notes">
    <div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
      <div flex-gt-md="50" flex="100">
        <mat-card class="flex-container">
          <form [formGroup]="frmUnit" novalidate>
            <a mat-fab routerLink="/approval-types/0" color="primary" class="custom-fab-button">
              <mat-icon>add</mat-icon>
            </a>

          </form>
        </mat-card>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>