<div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
  <div flex-gt-md="50" flex="100">
    <mat-card class="flex-container">
      <div *ngIf="notes.length > 0">

        <mat-list>
          <mat-list-item>
            <span class="pad-right">
              <mat-icon matListAvatar fxHide fxShow.gt-md>{{icon}}</mat-icon>
            </span>
            <!-- <span class="mat-body-1 tc-grey-500" fxFlex="50">Note Type</span>
            <span class="mat-body-1 tc-grey-500" fxFlex="50">Date</span> -->
            <span class="mat-body-1 tc-grey-500" fxFlex="50">Comments</span>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item *ngFor="let record of notes" (click)="detailClick(record)" class="hand gridRow">
            <span class="pad-right">
              <mat-icon color="primary" matListAvatar fxHide fxShow.gt-md>keyboard_arrow_right</mat-icon>
            </span>
            <!-- <span fxFlex="100">
              {{record.noteTypeKey}}
            </span>
            <span fxFlex="100">
              {{record.date}}
            </span> -->
            <span fxFlex="100">
              {{record.comment}}
            </span>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>

      </div>
      <app-empty-state name="notes" [icon]="icon" [count]="notes.length"></app-empty-state>
      <a mat-fab routerLink="/notes/0" color="primary" class="custom-fab-button">
        <mat-icon>add</mat-icon>
      </a>
    </mat-card>
  </div>
</div>