<td-layout-card-over>
  <mat-card-content flex fxLayout="column">
    <div *ngIf="noteTypes.length > 0">

      <mat-list>
        <mat-list-item>
          <span class="pad-right">
            <mat-icon matListAvatar fxHide fxShow.gt-md>{{icon}}</mat-icon>
          </span>
          <span class="mat-body-1 tc-grey-500" fxFlex="100" >Description</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item *ngFor="let record of noteTypes" (click)="detailClick(record)" class="hand gridRow">
          <span class="pad-right">
            <mat-icon color="primary" matListAvatar fxHide fxShow.gt-md>keyboard_arrow_right</mat-icon>
          </span>
          <span fxFlex="100">
            {{record.description}}
          </span>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>

    </div>
    <app-empty-state name="note types" [icon]="icon" [count]="noteTypes.length"></app-empty-state>
  </mat-card-content>
  <a mat-fab routerLink="/note-types/0" color="primary" class="custom-fab-button">
    <mat-icon>add</mat-icon>
  </a>
</td-layout-card-over>