<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="flex-container" flex-gt-md="70" flex="100">
    <div *ngIf="residents.length > 0">

      <mat-list>
        <mat-list-item>
          <span class="mat-body-1 tc-grey-500" fxFlex="100" gt-xs="60" gt-sm="40">Fullname</span>
          <span class="mat-body-1 tc-grey-500" fxFlex="30" fxHide fxShow.gt-sm>E-mail</span>
          <span class="mat-body-1 tc-grey-500" fxFlex="40" gt-xs="30" fxHide fxShow.gt-xs>Cellphone</span>
          <span class="mat-body-1 tc-grey-500">
            Action
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item *ngFor="let record of residents" class="gridRow" (mouseenter)="mouseEnter(record)" (mouseleave)="mouseLeave(record)">

          <span fxFlex="100" gt-xs="60" gt-sm="40">
            {{record.firstname}} {{record.surname}}
          </span>
          <span fxHide fxShow.gt-sm fxFlex="30" fxHide fxShow.gt-sm>
            {{record.email}}
          </span>
          <span fxHide fxShow.gt-xs fxFlex="40" gt-xs="30">
            {{record.cellphone}}
          </span>

          <span style="text-align: right; width:50px;" class="hand">
            <button mat-icon-button [matMenuTriggerFor]="cardToolbarMenu">
              <mat-icon matListAvatar class="push-bottom">more_vert</mat-icon>
            </button>
            <mat-menu #cardToolbarMenu="matMenu">
              <button (click)="detailClick(record)" mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </span>

          <!-- <span *ngIf="record.showButton" style="text-align: right; width:10px;" class="hand">
                <button mat-icon-button [matMenuTriggerFor]="cardToolbarMenu">
                  <mat-icon class="mat-icon">more_vert</mat-icon>
  
                </button>
                <mat-menu #cardToolbarMenu="matMenu">
                  <button (click)="detailClick(record)" mat-menu-item>
                    <mat-icon>create</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button  mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </span> -->

          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    <app-empty-state name="residents" [icon]="icon" [count]="residents.length"></app-empty-state>
    <a mat-fab routerLink="/residents/0" color="primary" class="custom-fab-button">
      <mat-icon>add</mat-icon>
    </a>
  </mat-card>
</div>