<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="flex-container" flex-gt-md="70" flex="100">
    <div *ngIf="approvalItemViewModel.length > 0">
      <mat-list>

        <mat-list-item class='listHeading'>
          <div flex fxFlexAlign="center">
            Approval Items
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>

        <!-- <mat-list-item style="height: auto">
            <div flex>
              <app-empty-state name="approval Items" icon="device_hub" [count]="approvalItemViewModel.length"></app-empty-state>
            </div>
          </mat-list-item> -->

        <mat-list-item>
          <span class="mat-body-1 tc-grey-500" fxFlex="35">Comment</span>
          <span class="mat-body-1 tc-grey-500" fxFlex="20">Price</span>
          <span class="mat-body-1 tc-grey-500" fxFlex="15">Approved Count</span>
          <span class="mat-body-1 tc-grey-500" fxFlex="15">File</span>
          <span class="mat-body-1 tc-grey-500" fxFlex="15">Approved</span>
          <span class="mat-body-1 tc-grey-500">Action</span>
          <mat-divider></mat-divider>
        </mat-list-item>


        <mat-list-item *ngFor="let record of approvalItemViewModel">
          <span fxFlex="35">
            {{record.comments}}
          </span>
          <span fxFlex="20">
            R {{record.price | number : '1.2-2'}}
          </span>
          <span fxFlex="15">
            {{record.approvedCount}}
          </span>

          <span fxFlex="15" *ngIf="record.attachmentLink.length > 0">

            <a [href]="record.attachmentLink" target="_blank" rel="noopener">
              <mat-icon style="color: black">attach_file</mat-icon>
            </a>
          </span>

          <span fxFlex="15" *ngIf="!record.attachmentLink || record.attachmentLink.length == 0">
            <mat-icon style="color: lightgray">do_not_disturb</mat-icon>
          </span>

          <span fxFlex="15">
            <mat-icon *ngIf="record.isApproved" style="text-align: center; width:25px; color: green">thumb_up</mat-icon>

            <button *ngIf="!record.isApproved" (click)="approveClick(record)" style="text-align: center; width:25px; " mat-icon-button>

            </button>
          </span>

          <span style="text-align: right; width:50px;" class="hand">
            <button mat-icon-button [matMenuTriggerFor]="cardToolbarMenu">
              <mat-icon matListAvatar class="push-bottom">more_vert</mat-icon>
            </button>
            <mat-menu #cardToolbarMenu="matMenu">
              <button (click)="detailClick(record)" mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Edit</span>
              </button>
              <button (click)="approveClick(record)" mat-menu-item>
                <mat-icon>thumb_up</mat-icon>
                <span>Approve</span>
              </button>
              <button (click)="uploadFileClick(record)" mat-menu-item>
                <mat-icon>attach_file</mat-icon>
                <span>Upload File</span>
              </button>
            </mat-menu>
          </span>

          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    
    <app-empty-state name="approval Items" icon="device_hub" [count]="approvalItemViewModel.length"></app-empty-state>

    <mat-card-actions class="text-right">
      <button color="seconday" (click)="backClick()" mat-raised-button>Back</button>
    </mat-card-actions>

    <a mat-fab (click)="addClick()" color="primary" style="top:auto; right:15px; left:auto; bottom:50px; position:fixed;">
      <mat-icon>add</mat-icon>
    </a>

  </mat-card>
</div>